<div class="layui-row">
    <div class="layui-card app-panel">
        <div class="layui-card-header">浏览排行</div>
        <div class="layui-card-body app-article-rank">
            <ul>
                <i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop"></i> 加载中...
            </ul>
        </div>
    </div>
    <div class="layui-card app-panel">
        <div class="layui-card-header">标签云</div>
        <div class="layui-card-body app-tag-list">
            <ul>
                <i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop"></i> 加载中...
            </ul>
        </div>
    </div>
    <div class="layui-card app-panel">
        <div class="layui-card-header">最新回复</div>
        <div class="layui-card-body app-comment-list">
            <ul>
                <li><i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop"></i> 加载中...</li>
            </ul>
        </div>
    </div>
    <div class="layui-card app-panel">
        <div class="layui-card-header">支持作者</div>
        <div class="layui-card-body app-donate-container">
            <img src="/static/app/img/donation/all.jpg" alt="">
            <p>扫码赞助作者</p>
        </div>
    </div>
    <div class="layui-card app-panel">
        <div class="layui-card-header">友情连接</div>
        <div class="layui-card-body">
            <i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop"></i> 加载中...
        </div>
    </div>
</div>