{extend name="public/Base"} {block name="link"} {/block} {block name="script"} {/block} {block name="body"}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">文章列表</div>
                <div class="layui-card-body">
                    <div class="table-search-btn" style="margin-bottom: 10px;">
                        搜索(关键字)：
                        <div class="layui-inline">
                            <input class="layui-input" name="keyword" id="keyword" autocomplete="off">
                        </div>
                        <button class="layui-btn" data-type="reload">搜索 / 刷新</button>
                    </div>
                    <table class="layui-hide" id="comment-list" lay-filter="comment-list"></table>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="thisJs"}

{/block}
{block name="thisScript"}
<script type="text/html" id="toolBar">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="recovery">恢复</a>
</script>
<script>
    layui.config({
        base: '/static/admin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table', 'layer'], function () {
        var $ = layui.jquery
            ,table = layui.table
            ,layer = layui.layer;

        table.render({
            elem: '#comment-list'
            ,url: '{:url("admin/comment/read")}'
            ,where: {"del": 1}
            ,height: 'full-100'
            ,cellMinWidth: 80
            ,page: true
            ,limit: 30
            ,cols: [[
                {type:'checkbox'}
                ,{field:'id', title: 'ID', minWidth:100, sort: true}
                ,{field:'name', title: '标题', minWidth:250, sort: true, edit: "text"}
                ,{field:'create_time', title: '发布时间', sort: true, minWidth: 160, align: 'center'}
                ,{field:'create_time', title: '更新时间', sort: true, minWidth: 160, align: 'center'}
                ,{field:'id', title: '操作', toolbar: '#toolBar', minWidth: 120, align: 'center'}
            ]]
            ,response: {
                statusName : "code",
                statusCode : 1,
                msgName : "msg",
                countName : "wait",
                dataName : "data",
            }
            ,loading: true
            ,id: "comment-list"
        });

        table.on('tool(comment-list)', function(obj){
            var data = obj.data;
            if(obj.event === 'edit'){
                layer.prompt({title: '请输入新标签名', formType: 0}, function(text, index){
                    $.ajax({
                        url : "{:url('admin/comment/modify')}",
                        method : "POST",
                        data: {id : data.id, name: text},
                        dataType: "JSON",
                        success : function (res) {
                            if (res.code) obj.del();
                            layer.close(index);
                            layer.msg(res.msg, {time: 1000, icon: !(res.code) + 1}, function () {
                                if (res.code) table.reload("comment-list");
                            });
                        }
                    });


                });

            } else if(obj.event === 'recovery') {
                layer.confirm('确认恢复？', function(index){
                    $.ajax({
                        url : "{:url('admin/comment/recovery')}",
                        method : "POST",
                        data: {id : data.id},
                        dataType: "JSON",
                        success : function (res) {
                            if (res.code) obj.del();
                            layer.close(index);
                            layer.msg(res.msg, {time: 2000, icon: !(res.code) + 1});
                        }
                    });
                });
            }
        });

        table.on('edit(comment-list)', function(obj){
            layer.confirm('确认修改？', function(index){
                $.ajax({
                    url : "{:url('admin/comment/modify')}",
                    method : "POST",
                    data: {id : obj.data.id, name: obj.value},
                    dataType: "JSON",
                    success : function (res) {
                        if (res.code) table.reload("comment-list");
                        layer.close(index);
                        layer.msg(res.msg, {time: 1000, icon: !(res.code) + 1});
                    }
                });
            });
        });

        $('.table-search-btn .layui-btn').on('click', function(){
            var type = $(this).data('type');
            table.reload( "comment-list",{
                where: {
                    keyword: $("#keyword").val(),
                    where: {"del": 1}
                },
                page: {
                    curr: 1,
                }
            });
        });

    });
</script>
{/block}
